.color_a{
    background: #52606f;
}
.color_b{
    background: #407D94;
}
.color_c{
    background: #7B7687;
}
.color_d{
    background: #ACADAC;
}
.color_e{
    background: #CCC4C2;
}

.flexbox {
    display: -webkit-flex;
    display: flex;
    flex-direction:column;
}
